@use '../../styles/variables';

.loader {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

.dark {
  border: 10px solid variables.$card-bg-dark;
  border-top: 10px solid variables.$title-dark;
}

.light {
  border: 10px solid variables.$subtitle-light;
  border-top: 10px solid variables.$badge-bg-light;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}