@use '../../styles/variables';

.project {
  width: 23.438rem;
  border-radius: 20px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 23.438rem;
    height: 23.438rem;
    border-radius: 20px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }

  }

  .cardContent {
    .title {
      padding: 0 1.75rem;
      font-size: 1.75rem;
      margin-top: 1.688rem;
      margin-bottom: 1.063rem;
    }

    .description {
      font-size: 1.125rem;
      padding: 0 1.75rem;
      line-height: 1.75rem;
      height: 200px;
    }

    .cta {
      padding: 1.75rem;
      display: flex;
      align-items: center;
      margin-top: 1.313rem;

      a {
        display: flex;
        align-items: center;
        gap: 10px;

        &:first-child {
          margin-right: auto;
        }

        &:last-child {
          margin-left: auto;
        }
      }
    }
  }
}

.dark {
  background-color: variables.$card-bg-dark;

  &:hover {
    box-shadow: 0 8px 16px 10px rgba(255,255,255,.1);
  }

  .cardContent {
    .title {
      color: variables.$title-dark;
    }

    .description {
      color: variables.$subtitle-dark;
    }

    .cta {
      a {
        color: variables.$subtitle-dark;
      }
    }
  }
}

.light {
  background: variables.$bg-light;
  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 8px 16px 10px rgba(0,0,0,0.2);
  }

  .cardContent {
    .title {
      color: variables.$title-light;
    }

    .description {
      color: variables.$subtitle-light;
    }

    .cta {
      a {
        color: variables.$subtitle-light;
      }
    }
  }
}
