// dark
$bg-dark: #191919;
$title-dark: #D9D9D9;
$subtitle-dark: #A7A7A7;
$card-bg-dark: #363636;

// light
$bg-light: #fff;
$title-light: #42446E;
$subtitle-light: #666666;
$badge-light: #018C0F;
$badge-bg-light: #D7FFE0;
