* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;

  font-family: Rachana, sans-serif;

  scroll-behavior: smooth;
  overflow-x: hidden;

}

/* Firefox */

html {
  scrollbar-width: thin;
}

/* Chrome / Edge / Safari */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  transition: .3s;
}

::-webkit-scrollbar-thumb:hover {
  transition: .3s;
}