@use '../../styles/variables';

.container {
  width: 100%;

  .content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .backToHome {
      text-decoration: none;

      &:hover {
        opacity:0.5;
      }
    }

    .linkList {
      display: flex;
      list-style: none;

      li:not(:last-child) {
        margin-right: 1rem;
      }

      li span:hover, li a:hover {
        text-decoration: underline;
      }

      li span, li a {
        cursor: pointer;
        font-size: 1.25rem;
        text-decoration: none;
      }
    }
  }
}

.dark {
  background: variables.$bg-dark;

  .title {
    color: variables.$title-dark;
  }

  .linkList {
    li span,
    li a {
      color: variables.$subtitle-dark;
    }
  }
}

.light {

  .title {
    color: variables.$title-light;
  }

  .linkList {
    li span,
    li a {
      color: variables.$subtitle-light;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;

    .content {
      nav {
        width: 100%;
      }

      .title {
        display: none;
      }

      .linkList {
        justify-content: space-around;
      }
    }
  }
}
